body {
    margin: 0 auto;
    color: #333;
    background-color:rgb(58 47 149);
}
.main-title {
    display: block;
    color: #FFF;
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 0%;
    text-decoration: none;
    /* background-color:#0B0B61; */
    font-family: sans;
    padding:1%;
}
.second-title {
    margin: 0 auto;
   background-color:#0B0B3B;
   margin-bottom:0%;
   text-align:right;
}
.titulares {
   padding-top:2%;
   padding-bottom:2%;
   /*background-color:rgba(168, 174, 194, 0.63);*/
}
/*.noticia {
   background-color:#fff;
   min-height: 130px;
   width: 47%;
   padding:10px;
   margin:2px;
   margin-bottom:10px;
   font-size:15px;
   float:left;
   box-shadow: 0px 20px 10px black;
   border-radius:5px;
}*/
.noticia	{
	background-color: #fff;
	min-height: 20%;
	/*width: 95%;*/
	padding: 1%;
	margin-left: 1%;
	margin-bottom:2%;
	font-size: 1.2em;
	float: left;
	box-shadow: 12px 15px 19px rgb(13, 13, 32);
	border-radius: 1%;
}
.cadaNoticia	{
   min-height:40%;
}
.ampliado img {
  float:left;
}
.mas,.mas:link,.mas:active,.mas:visited	{
  text-decoration:none;
  background-color:#01A9DB;
  border-radius:1%;
  color:white;
  font-size:1.2em;
  padding-left:10%;
  padding-right:10%;
  font-weight:bold;
  text-align:center;
}
.mas:hover {
  background-color:#0489B1;
}
.enlace,.enlace:link,.enlace:active,.enlace:visited	{
  text-decoration:none;
  background-color:green;
  border-radius:1%;
  color:black;
  font-size:1em;
  padding-left:95%;
  padding-right:95%;
  font-weight:bold;
}
.enlace:hover {
  background-color:#0489B1;
}
.clear {
  clear:both;
}
.final {
/* background-color:#048999;*/
 /*background-color:rgb(175, 182, 128);*/
 height:100%;
 margin-top:5%;
 bottom:0;
 color:white;
 padding:2%;
 text-align:center;
}
.final a:link,.final a:visited	{
   text-decoration:none;
   color:white;	
}
.final img	{
    height:16px;
}
#select_country {
  padding:1%;
  text-align: left;
  font-size:1em;
}

#app_info   {
    color: green;
    padding:2%;
    background-color:black;
}

